[submodule "lindy2076_vicsek/imgui"]
	path = lindy2076_vicsek/imgui
  url = https://github.com/ocornut/imgui.git

[submodule "entrimail/imgui"]
	path = entrimail/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "merirut/dependencies/imgui"]
	path = merirut/dependencies/imgui
	url = https://github.com/ocornut/imgui.git
